channels==4.0.0
daphne==4.0.0
python-dotenv==0.21.0
Django==4.1.7
django-widget-tweaks==1.4.12
Unidecode==1.3.6
psycopg2-binary==2.9.5
Twisted==22.10.0
attrs==23.1.0
boto3==1.28.21
django-storages==1.13.2
django-on-heroku==1.1.2