{% extends "base.html" %}
{% block title %}VrticConnect{% endblock %}
{% block content %}
    {% include 'partials/navbar.html' %}
    <div class="d-flex flex-column justify-content-center align-items-center vh-100" style="background-image: url(https://img.freepik.com/free-vector/hand-drawn-elements-character-animal-vector-elements_1150-40196.jpg?w=740&t=st=1690626995~exp=1690627595~hmac=45ae903322f79021fcf0afcc5cdbb5a6ee42ecee1f62eb54d3ef72aaa3712405);
    background-position: center top; background-attachment: fixed;">
    {% include 'partials/profil_edit.html' %}
    </div>
{% endblock %}