{% extends "base.html" %}

{% block title %}VrticConnect Sign In{% endblock %}
{% block content %}
{% include 'partials/navbar.html' %}
{% load widget_tweaks %}
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible" style="margin-top: 60px;" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
    </div>
{% endif %}
<div class="custom-bg d-flex align-items-center justify-content-center" style="background-image: url(https://img.freepik.com/free-vector/hand-painted-abstract-painting-pattern-design_23-2148986984.jpg?w=1550&t=st=1690621450~exp=1690622050~hmac=4503fbf6d0877fa732d5df5016e80633a53bac652ab822155294f5f53f224ce0);
 background-position: center top; background-attachment: fixed; min-height:100vh; margin-top: 50px; margin-bottom: 10px;" >
    <div class="d-flex align-items-center justify-content-center p-4 m-3" style="background-color: whitesmoke; border-radius: 0.8rem; border: solid 2px #858585;">
      <div class="d-flex flex-column align-items-center">
      <h2>Dodaj korisnika</h2>
      <form method="post" class="text-center">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-lg-6 mt-2 text-center">
              {% render_field form.first_name placeholder="ime" class="form-control text-center"%}
          </div>
            <div class="col-12 col-lg-6 mt-2 text-center">
              {% render_field form.last_name placeholder="prezime" class="form-control text-center"%}
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6  mt-2 text-center">
            {% render_field form.username placeholder="korisničko ime" class="form-control text-center"%}
          </div>
          <div class="col-12 col-lg-6 mt-2 text-center">
            <div class="form-group text-center">
              {% render_field form.Grupa class="form-control" %}
            </div>
          </div>
        </div>
        <div class="mt-2 text-center">
          <div class="form-check-inline d-flex justify-content-center">
            <label class="form-check-label me-2 text-center" for="mail-kontakt">Zaposlen u vrtiću</label>
            {% render_field form.Zaposlen class="form-control form-check-input"%}
          </div>
        </div>
        <div class="col mt-2 text-center">
          {% render_field form.email placeholder="email adresa" class="form-control text-center"%}
        </div>
        <div class="mt-2 text-center">
          {% render_field form.password1 placeholder="lozinka" class="form-control text-center"%}
        </div>
        <div class="mt-2 text-center">
          {% render_field form.password2 placeholder="ponovi lozinku" class="form-control text-center"%}
        </div>
        <div class="mt-2 text-center">
          <button class="btn logout-btn text-white btn-custom" type="submit" style=" border-radius: 0.4rem; border-width: 2px; background-color: #ee8926;  font-size: 1.2rem;">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}